body {
    padding: 0;
    margin: 0;
    background: #252829;
}

#game-container {
    border: solid 1px black;
    display: flex;
    width: min-content;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}
